.about {

    //background-image: url("../assets/img/bg-dark.png");
    padding-bottom: 150px;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    overflow: hidden;
    
    &-block {
        
        &-description {
            position: relative;
            padding-top: 20px;
            
            .page__subtitle_big {
                .sm-block({
                    font-size: 60px;
                    padding: 10px 0 10px;
                    
                });
                text-align: center;
                font-family: "@{Montserrat}-Regular";
                font-size: 100px;
                line-height: 146px;
                color: #fff;
                opacity: 0.1;
                text-transform: uppercase;
            }
    
            .page__title-h2 {
                font-size: 40px;
                line-height: 49px;
                text-align: center;
                position: absolute;
                right: 629px;
                top: 85px;
                color: #fff;
                margin: 0 auto;
                text-transform: uppercase;
                margin-bottom: 85px;
            }
        }

        &-wrapper {
            .row-flex();
            padding-top: 50px;
            &__photo {
                .col();
                .size(4);
                .size-xs(12);
                z-index: 50;
            }

            &__description {
                padding-left: 128px;
                padding-top: 80px;
                padding-bottom: 200px;
                .size-xs(12);
                .sm-block({
                    text-align: left;
                    padding-top: 20px;
                    flex-direction: column;
                    padding-left: 0;
                });
                .col();
                .size(8);

                .page__text {
                    padding-bottom: 45px;
                    .sm-block({
                        text-align: left;
                    });
                }

                .page__btn {
                    .size(4);
                    .size-xs(12);
                }
            }
        }
       
    }

    &.animated {
        opacity: 1;

        .page__title-h2 {
            .animated({
                .fadeInRight();
                .repeat(1);
                .delay(.5s);
            });
        }
    }

    
        
}