.banner{

    //background-color: #363636;
    background-image: url("../assets/img/bg-dark.png");
    padding-bottom: 385px;

    &-block {
        display: flex;
        justify-content: center;
        z-index: 30;
        &__logo {
            padding-top: 380px;
        }

        &__img {
            position: relative;
            z-index: 50;
        }
    
        .page__subtitle {
            padding-bottom: 17px;
            .animated({
                .fadeInRight();
                .repeat(1);
                .delay(0.7s);
            });
    
        }
    }

    

}
