.banner{

    position: relative;
    //padding-bottom: 385px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 80px;
    transition: opacity 2s ease-out;
    height: 100vh;
    
    .sm-block({
        height: 100vh;
    });

    .canvas {
        overflow: hidden;
        
    }

    &-block {
        display: flex;
        justify-content: center;
        z-index: 30;
        overflow: hidden;
        &__logo {
            
        }

        &__img {
            position: relative;
            z-index: 50;
        }
    
        .page__subtitle {
            padding-bottom: 17px;
            .animated({
                .fadeInRight();
                .repeat(1);
                .delay(0.7s);
            });
    
        }
    }

    

}
