.header {
    position: fixed;
    width: 100%;
    background: rgba(2, 2, 2, 0.4);
    &-block {
        &__navbar {
            .row-flex();
            padding-top: 26px;
            padding-bottom: 20px;
            &-link {
                .col();
                .size(3);
                justify-content: space-around;
                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 16px;
                    
                }
               
            }
        }
    }
}