.header {
    position: fixed;
    //position: sticky;
    z-index: 20;
    width: 100%;
    background: rgba(2, 2, 2, 0.4);
    overflow: hidden;
    &-block {
        &__navbar {
            .row-flex();
            padding-top: 26px;
            padding-bottom: 20px;
            &-link {
                .col();
                .size(3);
                .size-xs(6);
                .sm-block({
                    padding-top: 10px;
                });
                justify-content: space-around;
                color: #fff;
                font-family: "@{Montserrat}-Regular";
                &:hover {
                    //color: rebeccapurple;
                    //background-color: rebeccapurple;
                    //background: rgba(255, 255, 255, 0.1);
                }
                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 16px;
                    padding-left: 5px;
                    font-family: "@{Montserrat}-Regular";
                    .sm-block({
                        font-size: 14px;
                    });
                    &:hover {
                        color: @color_theme-1;
                    }
                }
            }
        }
    }
}