.bg {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    .wrapper {
        height: inherit;
    }
    &-grid {
        .row-flex();
        height: inherit;
        &__line {
            .size(3);
            .size-md(1.32);
            .size-sm(2);
            //.size-xs(1);
            .xs-block({
                display: none;
                
            });
            position: relative;

            &::before {
                content: "";
            }

            &::before,
            &::after {

                // background: @color_white;
                background: rgba(255, 255, 255, 0.1);
                width: 1px;
                height: 100%;
                position: absolute;
                top: 0;
            }

            &:last-child {
                &::after {
                    content: "";
                    right: 0;
                }
                .md(display, none);
            }

            &:nth-child(3){
                .md-block({
                    &::after {
                        content: "";
                        right: 0;
                    }
                });
                .sm(display, none);

            }
            &:nth-child(2){
                .sm-block({
                    &::after {
                        content: "";
                        right: 0;
                    }
                });
                .xs(display, none);
            }
            &:first-child{
                .xs-block({
                    &::after {
                        content: "";
                        right: 0;
                    }
                });
            }
        }
    }
}

.page{
    position: relative;
    background: @color_bg;
    z-index: 1;
    min-height: 100vh;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
    transition: all .35s;
    &__figure {
        position: relative;
        text-align: center;
        margin: 7px 10px;
        .sm( margin, 7px 10px);
        .xs( margin, 10px 0);
        // max-height: 262px;
        &:hover {
            .page__img {
                opacity: 0.19;
            }
            .page__title-h3 {
                transform: translate3d(0, 10px, 0);
            }

            .page__btn {
                transform: translate3d(0, -10px, 0);
            }

            .page__title-h3,
            .page__text,
            .page__btn {
                opacity: 1;
            }
        }
    }
    &_bold {
        &-mob {
            font-family: @fontBold;
        }
    }
    
    &__subtitle {
        font-family: "@{Montserrat}-Regular";
        letter-spacing: 2px;
        line-height: 37px;
        font-size: 30px;
        color: #fff;
        &_mob {
            font-family: "@{Montserrat}-Regular";
            letter-spacing: 2px;
            line-height: 27px;
            font-size: 20px;
            color: #fff;
            padding-left: 10px;
            display: none;
            .xs-block({
                display: block;
                position: fixed;
            });
        }
        &_big {
            .sm-block({
                font-size: 60px;
                //text-align: center;
                //.size(2);
            });
        }
        span {
            font-family: "@{Montserrat}-Bold";
        }

    }

    &__title {
        font-family: "@{Montserrat}-Regular";
        text-transform: uppercase;
        &-h2 {
            font-family: "@{Montserrat}-Bold";
            font-size: 40px;
            line-height: 49px;
            text-transform: uppercase;
            color: #fff;
        }
    }

    &__text {
        font-family: "@{Montserrat}-Regular";
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 1px;
        color: #fff;
        &_phone, &_email {
            font-family: "@{Montserrat}-Regular";
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 1px;
            color: #fff;
            padding-bottom: 40px;
        }

    }

    &__btn {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        border-radius: 5px;
        height: 68px;
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 30px;
        font-family: '@{PTSans}-Bold';
        text-transform: uppercase;
        border: none;
        color: @color_white;
        background-color: transparent;
        border: 1px solid #fff;
        &_icon_arrow-top,
        &_icon_arrow-left{
            .sprite(@icon-up);
            //position: absolute;
            //top: 0;
            //bottom: 0;
            transition: bottom 0.5s ease-out;
            //border: none;
            position: fixed;
            bottom: 62px;
            left: 37px;
            //color: @color_yellow-1;
        }
            &:hover{
                    //color: #262626;
                    //color: @color_theme-1;
                    background-color: @color_theme-1;

                    transition: all ease-out 0.5s;
                }
    }

    &__copyright {
        color: #707070;
        font-size: 12px;
        line-height: 15px;
        font-family: "@{Montserrat}-Regular";

    }

    &__link {
        text-decoration: none;
        color: #9f9f9f;
        letter-spacing: 2px;
    }

    position: relative;
    z-index: 1;
    height: 100%;
    min-height: 100vh;

    .btn-scrollTop{
        z-index: 1;
        height: 100%;
        bottom: 0px;
        opacity: 0;
        padding: 0;
        width: 60px;
        border: none;
        //margin-top: 20px;
        &:hover,
        &:focus{
            background: rgba(255, 255, 255, 0.1);
        }
        span{
            position: fixed;
            left: 20px;
            bottom: 20px;

        }
        .sm(display, none);
    }
    
}