section.project-page
    .wrapper
        #tabs.project-page-content.tab-contents
            .project-page-content__description
                .tab-content.is-active
                    .page__text Мы – группа компаний site, а лучше сказать – группа людей. 
                    //- .page__previous
                    //-     p.page__text посмотреть макеты 
                    //-     img.page__img(src="../assets/img/projects/fitnes/fitnes-main.jpg", alt="")
            .project-page-content__info
                aside.project-info
                    .project-info__element
                        h3.page__title-h3 Ссылка:
                        a.page__link.page__link_site(href="#", target="_blank") site.com
                    .project-info__element.project-info__element_list
                        h3.page__title-h3 Список страниц:
                        nav.tab-nav
                            .tab-link.is-active(href="") О проекте
                    .project-info__element.project-info__task
                        h3.page__title-h3 Задача:
                        p.page__text Разработка сайта для компании site.
                    .project-info__element.project-info__technology
                        h3.page__title-h3 Используемые технологии:
                        ul.page__list
                          
                    .project-info__element.project-info__days
                        h3.page__title-h3 Сроки:
                        p.page__text 
                            span.page__number_days 40 
                            |  дней.
                    .project-info__element.project-info__date
                        h3.page__title-h3 Дата создания:
                        p.page__text 9 февраля 2019