section.about#about
    .wrapper
        .about-block-description
            h2.page__subtitle_big Обо мне
            h2.page__title-h2 Обо мне
        .about-block-wrapper
            .about-block-wrapper__photo
                img(src="../assets/img/me.jpg")
            .about-block-wrapper__description
                p.page__text Разработчик сайтов + интернет-маркетолог(навык рекламы) + смм специалист прототипирование юзабилити сео специалист
                p.page__text Чистый и валидный код который сможет прочитать любой программист <br> Поддержка по сайту после сдачи проекта 
                p.page__text Если вы из Москвы, то при сотрудничестве буду рад встретиться лично для обсуждения тонкостей работы!
                .page__btn связаться со мной


