section.advantages
    .wrapper
        .advantages-block-description
            h2.page__subtitle_big Преимущества
            h2.page__title-h2 Преимущества
        .advantages-block-content
            .advantages-block-content__item
                .advantages-block-content__item_number 1
                .advantages-block-content__item_description Профессиональные навыки
            .advantages-block-content__item
                .advantages-block-content__item_number 2
                .advantages-block-content__item_description Соблюдение сроков
            .advantages-block-content__item
                .advantages-block-content__item_number 3
                .advantages-block-content__item_description Оптимизация изображений и кода
            .advantages-block-content__item
                .advantages-block-content__item_number 4
                .advantages-block-content__item_description Чистый, валидный код
            .advantages-block-content__item
                .advantages-block-content__item_number 5
                .advantages-block-content__item_description Ответственное отношение к работе
            .advantages-block-content__item
                .advantages-block-content__item_number 6
                .advantages-block-content__item_description Всегда открыт к диалогу
            .advantages-block-content__item
                .advantages-block-content__item_number 7
                .advantages-block-content__item_description Большую часть дня online
            .advantages-block-content__item
                .advantages-block-content__item_number 8
                .advantages-block-content__item_description Поддержка своего кода
            
