section.banner
    .wrapper
        canvas.canvas
        .banner-block
            .banner-block__logo
                .page__subtitle Nikita <span>Shvetsov</span>
                .banner-block__img 
                    img(src="assets/img/img-frontend-developer.png")