footer.footer
    .wrapper
        .footer-content
            .footer-content__item
                h2.page__title-h2 Контакты
                .page__copyright Москва, 2020
            .footer-content__item
                .page__text_phone телефон
                a.page__link(href="tel:+79152834518") +79152834518
            .footer-content__item
                .page__text_email почта
                a.page__link(href="mailto:nshvtsv@gmail.com") nshvtsv@gmail.com
            .footer-content__item
                .page__text социальные сети
                a(href="#").footer-content__item-social
                    img.page__img(src="assets/img/icon-social-fb.svg")
                a(href="#")
                    img.page__img(src="assets/img/icon-social-telegram.svg")
