header.header
    .wrapper
        .header-block
            nav.header-block__navbar
                .header-block__navbar-link Nikita
                    a(href="#") Shvetsov
                .header-block__navbar-link
                    a(href="#") Навыки
                .header-block__navbar-link
                    a(href="#") Проекты
                .header-block__navbar-link
                    a(href="#") Обо мне
                //- Здесь еще должна быть кнопка скролла вниз, У Ильи исходники
            