header.header
    .wrapper
        .header-block
            nav.header-block__navbar
                .header-block__navbar-link
                    a(href="../") Nikita Shvetsov
                .header-block__navbar-link
                    a(href="#skills") Навыки
                .header-block__navbar-link
                    a(href="#projects") Проекты
                .header-block__navbar-link
                    a(href="#about") Обо мне
                .page__subtitle_mob Nikita 
                    span.page_bold-mob Shvetsov

                //- Здесь еще должна быть кнопка скролла вниз, У Ильи исходники
            