section.projects
    .wrapper
        .projects-block-description
            h2.page__subtitle_big Проекты
            h2.page__title-h2 Проекты
        .projects-block-content-wrapper
            .projects-block-content-wrapper__item
                .projects-block-content-wrapper__item_descr 
            .projects-block-content-wrapper__item
                .projects-block-content-wrapper__item_descr 
            .projects-block-content-wrapper__item
                .projects-block-content-wrapper__item_descr 
            .projects-block-content-wrapper__item
                .projects-block-content-wrapper__item_descr 
            .projects-block-content-wrapper__item
                .projects-block-content-wrapper__item_descr 
            .projects-block-content-wrapper__item
                .projects-block-content-wrapper__item_descr 
            .projects-block-content-wrapper__item
                .projects-block-content-wrapper__item_descr 
            .projects-block-content-wrapper__item
                .projects-block-content-wrapper__item_descr 
            