section.services
    .wrapper
        .services-block-description
            h2.page__subtitle_big Услуги
            h2.page__title-h2 Услуги
        .services-block-content
            .services-block-content__item
                .services-block-content__item-img
                    img(src="../assets/img/img-Email.png")
                .page__subtitle E-mail письма
                .services-block-content__item-hover
                    .page__subtitle E-mail письма
                    p.page__text Делаю верстку e-mail письм как для уведомления пользователя от Вашего сайта, так и для рассылки УТП
            .services-block-content__item
                .services-block-content__item-img
                    img(src="../assets/img/img-landing.png")
                .page__subtitle Landing page
                .services-block-content__item-hover
                    .page__subtitle Landing page
                    p.page__text Одностраничный сайт Лендинг. Создание страницы, которая призывает пользователя к действию.
            .services-block-content__item
                .services-block-content__item-img
                    img(src="../assets/img/img- manypages.png")
                .page__subtitle Многостраничный сайт
                .services-block-content__item-hover
                    .page__subtitle Многостраничный сайт
                    p.page__text Многостраничный сайт. Создание сайта с более сложной структурой: несколькими страницами, которые объединены меню или другими блоками с ссылками
            .services-block-content__item
                .services-block-content__item-img
                    img(src="../assets/img/img-shop.png")
                .page__subtitle Интернет-магазин
                .services-block-content__item-hover
                    .page__subtitle Интернет-магазин
                    p.page__text Интернет-магазин. Создание сайта для продажи товаров с платежной системой, корзиной и уведомлением продавца и покупателя о заказе.
            .services-block-content__item
                .services-block-content__item-img
                    img(src="../assets/img/img-quiz.png")
                .page__subtitle Quiz сайт
                .services-block-content__item-hover
                    .page__subtitle Quiz сайт
                    p.page__text Квиз сайт — это вариант сайта, где основной функционал строится на основе теста или опроса для вовлечения посетителей.
            .services-block-content__item
                .services-block-content__item-img
                    img(src="../assets/img/img-completion.png")
                .page__subtitle Доработка
                .services-block-content__item-hover
                    .page__subtitle Доработка
                    p.page__text Могу делать доработки уже на готовом сайте.
            .services-block-content__item
                .services-block-content__item-img
                    img(src="../assets/img/img-cms.png")
                .page__subtitle Интеграция
                .services-block-content__item-hover
                    .page__subtitle Интеграция
                    p.page__text Произвожу интеграцию кода на панель администратора WordPress Bitrix modX
            .services-block-content__item
                .services-block-content__item-img
                    img(src="../assets/img/img-script.png")
                .page__subtitle Написание скриптов
                .services-block-content__item-hover
                    .page__subtitle Написание скриптов
                    p.page__text Написание скриптов, реализация логики.
