section.skills
    .wrapper
        .skills-block-description
            h2.page__subtitle_big Навыки
            h2.page__title-h2 Навыки
        .skills-block-content
            .skills-block-content__item
                img(src="../assets/img/html-5.png")
            .page__subtitle HTML 5
            .skills-block-content__item
                img(src="../assets/img/html-5.png")
            .page__subtitle HTML 5
            .skills-block-content__item
                img(src="../assets/img/html-5.png")
            .page__subtitle HTML 5
            .skills-block-content__item
                img(src="../assets/img/html-5.png")
            .page__subtitle HTML 5
            .skills-block-content__item
                img(src="../assets/img/html-5.png")
            .page__subtitle HTML 5
            
