section.skills#skills
    .wrapper
        .skills-block-description
            h2.page__subtitle_big Навыки
            h2.page__title-h2 Навыки
        .skills-block-content
            .skills-block-content__item
                .skills-block-content__item-img
                    img(src="../assets/img/html-5.png")
                .page__subtitle HTML 5
            .skills-block-content__item
                .skills-block-content__item-img
                    img(src="../assets/img/css-3.png") 
                .page__subtitle CSS 3
            .skills-block-content__item
                .skills-block-content__item-img
                    img(src="../assets/img/javascript.png")
                .page__subtitle JavaScript
            .skills-block-content__item
                .skills-block-content__item-img
                    img(src="../assets/img/KKZbnwmv_400x400.png")
                .page__subtitle TypeScript
            .skills-block-content__item
                .skills-block-content__item-img
                    img(src="../assets/img/Git-Icon-1788C.png")
                .page__subtitle Git
            .skills-block-content__item
                .skills-block-content__item-img
                    img(src="../assets/img/Group-1.png")
                .page__subtitle БЭМ
            .skills-block-content__item
                .skills-block-content__item-img
                    img(src="../assets/img/Group.png")
                .page__subtitle JQuery
            .skills-block-content__item
                .skills-block-content__item-img
                    img(src="../assets/img/Angular_full_color_logo.svg.png")
                .page__subtitle Angular 2+
            .skills-block-content__item
                .skills-block-content__item-img
                    img(src="../assets/img/961px-LESS_Logo.svg.png") 
                .page__subtitle less
            .skills-block-content__item
                .skills-block-content__item-img
                    img(src="../assets/img/1200px-Sass_Logo_Color.svg.png")
                .page__subtitle Sass
            .skills-block-content__item
                .skills-block-content__item-img
                    img(src="../assets/img/gulp.png")
                .page__subtitle Gulp
            .skills-block-content__item
                .skills-block-content__item-img
                    img(src="../assets/img/Group 4.png")
                .page__subtitle SmartGrid
            .skills-block-content__item
                .skills-block-content__item-img
                    img(src="../assets/img/Microsoft.VisualStudio.Services.Icons.png")
                .page__subtitle Pug
            .skills-block-content__item
                .skills-block-content__item-img
                    img(src="../assets/img/bootstrap.png")
                .page__subtitle Bootstrap
            .skills-block-content__item
                .skills-block-content__item-img
                    img(src="../assets/img/icon-square-big.png")
                .page__subtitle WebPack
            .skills-block-content__item
                .skills-block-content__item-img
                    img(src="../assets/img/nodejs-logo-png--435.png") 
                .page__subtitle Node.js
            .skills-block-content__item
                .skills-block-content__item-img
                    img(src="../assets/img/nestjs-logo-09342F76C0-seeklogo.com.png")
                .page__subtitle Nest.js
            .skills-block-content__item
                .skills-block-content__item-img
                    img(src="../assets/img/wordpress-icon.png")
                .page__subtitle Wordpress
            .skills-block-content__item
                .skills-block-content__item-img
                    img(src="../assets/img/1c_bitrix_logo.png")
                .page__subtitle 1c Bitrix
            .skills-block-content__item
                .skills-block-content__item-img
                    img(src="../assets/img/img-modx-logo.png")
                .page__subtitle modx
            .skills-block-content__item
                .skills-block-content__item-img
                    img(src="../assets/img/Combined-Shape.png")
                .page__subtitle Php
            
