extends templates/template

block title
	title Портфолио
block append style
block content
	include blocks/header
	include blocks/theme
	include blocks/banner
	include blocks/btn-scrollTop
	include blocks/skills
	include blocks/services
	include blocks/advantages
	include blocks/projects
	include blocks/about
	
block footer
	include blocks/footer
block append script